$grey: #9f9f9f;
$greyDark: #514f4f;
$greyLight: #e2cccc;
$black: #000000;
$white: #fff;
$blackShadow: rgba(0, 0, 0, 0.7);
$whiteShadow: rgba(255, 255, 255, 0.7);
$greyShadow: rgba(217, 217, 217, 0.3);
$bigTxt: rgba(0, 0, 0, 0.3);
$menuColor: #f1ecec;
